<!-- Footer -->
<footer id="footer">
    <div class="container">
        <div class="row double">
            <div class="6u">
                <div class="row collapse-at-2">
                    <div class="6u">
                        <h3>Links</h3>
                        <ul class="alt">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Quem Somos</a></li>
                            <li><a href="#">Amitis</a></li>
                            <li><a href="#">EnactusTogether</a></li>
                        </ul>
                    </div>
                    <div class="6u">
                        <h3>Contatos</h3>
                        <ul class="alt">
                            <li><a href="#">Av. Lourival Melo Mota, Tabuleiro dos Martins, Maceió, AL</a></li>
                            <li><a href="#">enactusufal@gmail.com</a></li>
                            <li><a href="#">(82)3481-2448</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="6u">
                <h2>Aliquam Interdum</h2>
                <p>Blandit nunc tempor lobortis nunc non. Mi accumsan. Justo aliquet massa adipiscing cubilia eu accumsan id. Arcu accumsan faucibus vis ultricies adipiscing ornare ut. Mi accumsan justo aliquet.</p>
                <ul class="icons">
                    <li><a href="#" target="_blank" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="https://www.facebook.com/EnactusUFAL/" target="_blank" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                    <li><a href="https://www.instagram.com/enactusufal/" target="_blank" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                    <li><a href="#" target="_blank" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
                    <li><a href="#" target="_blank" class="icon fa-pinterest"><span class="label">Pinterest</span></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
